@import './node_modules/@syncfusion/ej2-base/styles/material.css';
@import './node_modules/@syncfusion/ej2-icons/styles/material.css';
@import './node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import './node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import './node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import './node_modules/@syncfusion/ej2-lists/styles/material.css';
@import './node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import './node_modules/@syncfusion/ej2-popups/styles/material.css';
@import './node_modules/@syncfusion/ej2-richtexteditor/styles/material.css';

//Calendar
@import './node_modules/@syncfusion/ej2-base/styles/material.css';
@import './node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import './node_modules/@syncfusion/ej2-react-calendars/styles/material.css';

// Theme Styles
@import './styles-theme.scss';

body {
  padding: 50px 0;
}

.filled {
  // background: #e8e8e8;
  .MuiInputBase-input {
    border: 1px solid transparent;
    padding: 3px;
    // font-size: 0.7em;
    height: 26px;
    margin: 0;
  }
}

.filled .MuiInputBase-input:focus {
  // outline: 2px;
  // border: darkgray 1px solid;
  background: #deedf8;
  border: 1px solid #2185d0;
  // height: 17px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.Person-Chip {
  margin-left: 2px;
  margin-top: 2px;
}

.Sheet {
  max-width: 1200px;
  margin: auto;
  padding: 15px;
}

.MuiPaper-root {
  z-index: 120 !important;
}

.MainAppBar {
  z-index: 200 !important;
}

.CellEditable {
  background: aliceblue;
}

.well {
  margin: 10px 0 !important;
  padding: 0;
  padding-top: 5px;
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  // background-color: lightgray;
}

.MuiToolbar-root {
  button {
    margin-left: 5px;
  }
}
