<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="jwt.AuthKeyBase64" value="QJLfuOmtLUzqpsGq49IEUWgx7akLqpE/H1zR79JuMNq7mF+8xiiYVF/X48FNCEUTjYm/paZnKUnkW/mquP0+saVIaOQKJhejTNUeJbD06amQRAD4NDAx+t90gooT46ZNh0u4prEHoh8jPxSm4pgpde1G8nbXcWDa/SUsED9gu6CvcHtKOH3QkcmZf86XuAYcJ7ZGoFAl3FbfX8KY1v2pig+JzahV5749HREZNN+QMVDTmDRddP07JZ3Me75XtlIOywaKIiblb/RnEul1nq3bZT4NExN7js9ni3tt+ktVzfqKSFNnR8iIDJ3+1X69+6/c0ohoXcw1ZEz8ua43Plu8JA=="/>
    <!--<add key="dbConnectionString" value="data source=.\SQLEXPRESS;initial catalog=UniversalCatalogs;integrated security=True;MultipleActiveResultSets=True;" />-->
    <add key="dbConnectionString" value="Data Source=JUCVWDOCCNL01;Initial Catalog=UniversalCatalogs;Persist Security Info=True;User ID=sa;Password=Alf@0210; MultipleActiveResultSets=True;App=EntityFramework" />
    <add key="smtp.server" value="" />
    <add key="smtp.port" value="" />
    <add key="smtp.from" value="" />
    <add key="smtp.password" value="" />
    <add key="mailgun.api.key" value="" />
    <add key="mailgun.api.url" value="" />
    <add key="mailgun.from" value="" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <httpHandlers>
      <add path="*" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" />
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <urlCompression doStaticCompression="true" doDynamicCompression="false" />
    <handlers>
      <add path="*" name="ServiceStack.Factory" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>